@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245; /* Off-White */
  --font-family: "Helvetica", sans-serif; /* Use Helvetica font */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0; /* Black */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-family); /* Apply Helvetica font */
  background-color: rgb(var(--background-rgb)); /* Set background to off-white */
}

.custom-text-outline {
  -webkit-text-stroke: 2px red;
}